.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  background: #FBE5BE;
  height: 100%;
  width: 100%;
  align-items: center;
}

  .modal__img {
      width: 400px;
      height: 400px;
  }

  .modal__btn {
      padding: 10px;
  }