@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import 'style/modal';

.cards {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Goudy Bookletter 1911', serif;
}

  .card {
    position: relative;
    border: 4px solid #533332;
    border-radius: 2px;
    list-style: none;
    height: auto;
    width: 200px;
    margin: 16px;
    overflow: hidden;
    padding: 5px;  
    text-align: center;
    background-color: #FBE5BE;

    &:nth-child(even) {
      .card__page-number {
        left: 6px;
        right: initial;
      }    
    }
  }

  .card__link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: #533332;
  }

  .card__title {
    text-align: left;

    &::first-letter {
      color: red;
      font-size: 48px;
      text-transform: capitalize;
      padding-right: 4px;
    }
  }

  .card__img {
    border-radius: 20px;
  }

  .card__page-number {
    position: absolute;
    bottom: 0;
    right: 6px;
    font-weight: 700;
  }
